#header #mariun{
    color: black;
}

#header #tube{
    color: white;
    background-color: red;
    padding: 4px;
    border-radius: 12px;
}

#sidebar ul a{
    text-decoration: none;
    color: black;
    display: block;
}

#header a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
}