*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: sans-serif;
}

#navbar{
    background-color: black;
    display: flex;
    align-items: center;
}

h1{
    color: green;
    font-family: Georgia, 'Times New Roman', Times, serif;
    size: ;
}

#navbar a{
    color: green;
    padding: 24px;
    margin-right: auto;
}

#navbar .cta-button{
    background-color: green;
    color: black;
    font-size: 30px;
    border-radius: 36px;
    font-weight: bold;
    min-width: 150px;
    text-decoration: none;
}

#flex-side-by-side{
    width: 80vw;
    max-width: 800px;
    margin: 40px auto ;
    display: flex;
    align-items: center;
    gap: 50px;
}

.image-container{
    height: 400px;
}

h2{
    color: green;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img{
    width: 70%;
    object-fit: cover;
    border-radius: 24px;
    margin-right: auto;
    object-position: center;
    box-sizing: border-box;
}

h2{
    text-align: center;
    font-size: x-large;
}

.image-container2{
    height: 200px;
}

p{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: green;
}

#hero-5{
    background-image: url(../images/vw.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#footer{
    background: linear-gradient(to bottom, black, black);
    color: green;
    padding: 12px;
}

#footer a{
    color: green;
}
#footer-navbar{
    width: 800px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}
