/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
*{
    box-sizing: border-box;
}

.card-style-2{
    max-width: 350px;
    background-color: white;
    border-radius: 35px;

}

.card-style-2 img{
    width: 50%;
    object-fit: cover;
    border-radius: 100%;
}

.card-style-2 p{
    text-align: center;
}

.animagram footer profile-pic-container{
    text-align: center;
}

.header{
display: flex
}